* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.stade-hero2 {
    height: 20%; 
    background: linear-gradient(
        rgba(200, 16, 46, 0.9),
        rgba(139, 0, 0, 0.9)
    ), url('../img/stade_lens_fond.jpg') center/cover no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    padding: 0 2.6vh;
    margin-top: 10.4vh; /* compense le header fixe */
}

.hero-container2 {
    padding: 5.2vh;
    border-radius: 1.3vh;
}

.hero-container2 h1 {
    font-size: 3em;
    margin-bottom: 2.6vh;
    text-shadow: 0.26vh 0.26vh 0.65vh rgba(0,0,0,0.6);
}

.hero-container2 p {
    font-size: 1.2em;
    max-width: 104vh;
    margin: 0 auto;
    text-shadow: 0.13vh 0.13vh 0.39vh rgba(0,0,0,0.5);
}

.histoire-section {
    background: #fff;
    max-width: 900px;
    margin: 50px auto;
    padding: 40px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.histoire-section h2 {
    font-size: 1.8em;
    color: #b30000;
    position: relative;
    margin-bottom: 25px;
}

.histoire-section h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 4px;
    background-color: #ffcc00; /* bande or */
    border-radius: 2px;
}


.histoire-section p {
    font-size: 1.1em;
    margin-bottom: 1.3vh;
}

strong {
    color: #ffcc00; 
}
